@model EntityLayer.Concrete.Title

@{
    ViewBag.Title = "AddTitle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Başlık Ekle</h1>
<br />

@using (Html.BeginForm("AddTitle", "Title", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Başlık Adı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.ValueCategories, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryId, "", new { @class = "text-danger" })
    <br />  
    
    <button class="btn btn-info">Ekle</button>
</div>

}
