@model EntityLayer.Concrete.Category

@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h1 class="text-center"> Yeni Kategori Ekleme Sayfası</h1>
@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.Name)
    @Html.ValidationMessageFor(x => x.Name)
    <br /><br />
    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.Description)
    @Html.ValidationMessageFor(x => x.Description)
    <br /><br />
    <button>Kaydet</button>

</div>
}

@*<form class="form-group col-md-6 " method="post">

        <br />
        <input class="form-control" type="text" name="Name" placeholder="Kategori Adı giriniz..." />
        <br />
        <input class="form-control" type="text" name="Description" placeholder="Açıklama giriniz..." />
      <br />
        <button class="btn btn bg-primary">Ekle</button>

    </form>*@