@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center"> Yeni Kategori Ekleme Sayfası</h1>
@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.Name, new {@class ="form-control" })
        @Html.ValidationMessageFor(x => x.Name)
        <br /><br />
        @Html.Label("Açıklama")
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Description)
        <br /><br />
        <button class="btn btn-info">Kaydet</button>

    </div>
}


